.ImageBlock {
    height: 20vh;
    margin: 0 0 50px;
    background: url(../../images/shrila_prabhupada.webp);

    .Image {
        height: 100%;
        object-position: center 68.93%;
        object-fit: cover;
        width: 100%;
    }
}

@media only screen and (max-width: 780px) {
    .ImageBlock {
        height: 15vh;
        margin: 0 0 25px;
    }
}
