@use '../../constants.scss' as *;

.CalendarTab {
    display: flex;
    align-items: flex-start;

    .NewCalendar {
        display: flex;
        padding: 10px;
        border: 1px solid $color-peach;
        border-radius: 5px;
        background: #fff3df;
        flex-shrink: 0;
        flex-direction: column;

        .CalendarGrid {
            clear: both;
            width: 100%;
            border-radius: 3px;
            border-collapse: collapse;
            color: #444;

            td {
                height: 48px;
                width: 48px;
                text-align: center;
                vertical-align: middle;
                padding: 5px;
            }

            thead {
                th {
                }
            }
        }

        .CalendarTop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 10px;

            .MonthName {
                font-size: 26px;
                text-align: center;
                align-items: center;
            }

            .ButtonPrev {
                position: relative;

                &:before {
                    content: '';
                    width: 10px;
                    height: 17px;
                    background: url(../../images/icons/chevron_left.svg);
                    margin: auto;
                }
            }

            .ButtonNext {
                position: relative;

                &:before {
                    content: '';
                    width: 10px;
                    height: 17px;
                    background: url(../../images/icons/chevron_right.svg);
                    margin: auto;
                }
            }

            .ButtonPrev,
            .ButtonNext {
                border: none;
                outline: none;
                font-size: 12px;
                color: #c0c0c0;
                cursor: pointer;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-items: center;
                position: relative;
                background: none;
                border-radius: 5px;
                @include transition();

                &:hover {
                    background: #ffe0ab;
                }
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    .CalendarTab {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 420px) {
    .CalendarTab {
        .NewCalendar {
            .CalendarTop {
                .MonthName {
                    font-size: 23px;
                    line-height: 26px;
                }
            }

            .CalendarGrid {
                thead {
                    th {
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

                td {
                    width: 40px;
                    height: 40px;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .CalendarTab {
        .NewCalendar {
            .CalendarTop {
                .MonthName {
                    font-size: 20px;
                    line-height: 23px;
                }
            }

            .CalendarGrid {
                thead {
                    th {
                        font-size: 12px;
                        line-height: 15px;
                    }
                }

                td {
                    width: 35px;
                    height: 35px;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }
}
