@use '../../../constants.scss' as *;

.CalendarEventsList {
    padding: 0 20px 20px;
    width: 100%;

    .Title {
        margin: 0 0 20px;
    }

    .NoEvents {
        font-size: 14px;
        line-height: 17px;
    }

    .CalendarEventsListItem {
        margin: 0 0 20px;
        padding: 15px;
        border: 1px solid $color-peach;
        border-radius: 5px;
        width: 100%;

        .EventName {
            margin: 0 0 10px;
        }

        .InfoContainer {
            display: flex;
            margin: 0 0 10px;
            align-items: center;

            &:last-child {
                margin: 0;
            }

            .InfoTypeName {
                margin: 0 10px 0 0;
            }

            .EventCategory {
                display: inline-flex;
                padding: 4px 8px;
                border-radius: 10px;
                font-size: 12px;
                line-height: 15px;
                margin: 0 10px 0 0;
                color: $color-white;
                @include text-shadow($color-black);
                letter-spacing: 1px;
                border: 1px solid $color-peach;
            }

            .EventPlace {
            }

            .EventDate {
                display: flex;

                .DateItem {
                    display: flex;

                    &:first-child {
                        margin: 0 5px 0 0;
                    }

                    &:last-child {
                        margin: 0 0 0 5px;
                    }

                    .Date {
                    }

                    .Time {
                    }
                }
            }

            .EventLent {
            }

            .EventLink {
            }
        }
    }
}
