@use '../../../constants.scss' as *;

.Day {
    position: relative;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid transparent;
    text-align: center;
    @include transition();

    &:not(.Disabled):hover {
        border-color: $color-peach;
    }

    &.Today {
        font-weight: 700;
        color: #28283b;
        border: 1px solid $color-peach;

        &:hover {
            color: #ffffff;
            background: $color-peach;
        }
    }

    &.Disabled {
        color: #c0c0c0;
        cursor: auto;
    }

    &.HasEvent {
        border: none;
        color: $color-black;
    }

    &.Active {
        box-shadow: 0 0 0 2px #c57171;
    }
}
